<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @quote_request.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quote_request.email_address %>
</p>

<p>
  <strong>Monthly rent:</strong>
  <%= @quote_request.monthly_rent %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @quote_request.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @quote_request.baths %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @quote_request.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @quote_request.end_date %>
</p>

<%= link_to 'Edit', edit_quote_request_path(@quote_request) %> |
<%= link_to 'Back', quote_requests_path %>
