<%= form_for(@quote_request) do |f| %>
  <% if @quote_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote_request.errors.count, "error") %> prohibited this quote_request from being saved:</h2>

      <ul>
      <% @quote_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        
        <div class="row-fluid">
            <div class="span5">
				<%= f.text_field :full_name, placeholder: "Full Name", class: "input-block-level", tabindex: 1 %>
            </div>
            <div class="span4">
				<%= f.text_field :email_address, placeholder: "Email", class: "input-block-level", tabindex: 2 %>
				
            </div>
            <div class="span2 hidden-phone">
				<%= f.submit "Request Quote", class: "btn input-block-level btn-realto-form", tabindex: 8 %>
            </div>
        </div>
                
       
        <div class="row-fluid">
           
            <div class="span2">
			   						   <%= select("quote_request", "monthly_rent", ["$1800 to $2399", "$2400 to $2899", "$2400 to $2899", "$2900 to $3499", "$4000 to $4499", "$4500 to $4999"], 
									   {prompt: 'Monthly Rent'}, 
									   class:"input-block-level select", tabindex: 3) 
			    %>
            </div>
                    
                  
            <div class="span1">
			   						   <%= select("quote_request", "beds", %w[1 2 3 4 5 6], 
									   {prompt: 'Beds'}, 
									   class:"input-block-level select", tabindex: 4) 
			    %>
            </div>
            
           
                       <div class="span1">
						   <%= select("quote_request", "baths", %w[1 2 3 4 5 6], 
						   {prompt: 'Bath'}, 
						   class:"input-block-level select", tabindex: 5)
 %>
            </div>
            
           
            <div class="span2">
			    <%= f.date_select :start_date, {prompt: 'Starting'}, 
						   class:"input-block-level select", tabindex: 6 %>
				
            </div>
                      
            
            <div class="span2">
			    <%= f.date_select :end_date, {prompt: 'Ending'}, 
						   class:"input-block-level select", tabindex: 7 %>
				
            </div>
                        
            <div class="row-fluid visible-phone">
            </div>
            
        </div>
            				
<% end %>
