<div class="widget agent-box box-container clearfix padding30">
    <div class="clearfix">
        <div class="pull-left">
						<%= image_tag "https://s3.amazonaws.com/fog-demo-1419715807/images/Jim_Tanner_Avatar_1391639635_70x70.jpg", 
						size: "70x70" %>
					</div>
        <div class="pull-left">
            <h3>Contact Agent</h3>
            <ul>
                <li>Jim Tanner</li>
                <li>801-644-2440</li>
            </ul>
        </div>
    </div>
	
	<%= form_for(@quote_request) do |f| %>
	  <% if @quote_request.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@quote_request.errors.count, "error") %> prohibited this quote_request from being saved:</h2>

	      <ul>
	      <% @quote_request.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<%= f.text_field :full_name, placeholder: "Your Name",  required: "required", class: "input-block-level", tabindex: 1 %>
		
 		<%= f.text_field :full_name, placeholder: "Your Email",  required: "required", class: "input-block-level", tabindex: 2 %>
        <textarea class="input-block-level" name="sender_msg" required="required" rows="5">Hello, I'm interested in [<%= "#{@location.title}, #{@location.city}, #{@location.state}" %>]</textarea>
        <button type="submit" class="btn btn-realto">Contact Agent</button>
	  
	<% end %>
</div>
