						                        <h1 class="entry-title marB0"><%= @location.title %></h1>
                        <p class="prop-location"><%= "#{@location.city}, #{@location.state}  #{@location.zip}" %></p>
                        
                        <p class="propinfo"><%= "#{@location.bed} Bed | #{@location.bath} Bath" %> &nbsp;|&nbsp; <%= "#{@location.sq_feet} Sq Ft" %> </p>
                        
                        <span class="ahu_tag_line">The Almost Home Experience... Your Perfect Choice</span>                        
                        							<div id="slider" class="flexslider marB18">
									                                
                            <div style="overflow: hidden; position: relative;" class="flex-viewport"><ul style="width: 6200%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);" class="slides">
                                    			<li class="flex-active-slide" style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-1-livingroom1.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-2-diningroom.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3a-kitchen.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3b-kitchen.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3c-kitchen.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3d-kitchen.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3e-kitchen.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3-livingroom2.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-4-livingroom3.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-4-livingroom4.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-5-livingroom-chair.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6a-porchsteps2.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6b-porchsteps2.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6c-porchsteps1.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6d-porchsteps2.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-7-doorway.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-8a-pool.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-8b-pool.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-9a-backyard.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-9b-backyard.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-10-bathroom.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11a-bedroom-master.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11b-bedroom-second.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11c-bedroom-twinbed.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11d-bedroom-desk.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-12a-bedroom.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-12b-bedroom-doorview.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-14-hallway.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-15-staircase.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-16a-window-view.jpg">
			</li>
		
					<li style="width: 600px; float: left; display: block;">
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-16b-window-view2.jpg">
			</li>
		
		                                </ul></div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
                            <div id="carousel" class="flexslider">
                                
                            <div style="overflow: hidden; position: relative;" class="flex-viewport"><ul style="width: 6200%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);" class="slides">
                                    
			<li class="flex-active-slide" style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-1-livingroom1.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-1-livingroom1.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-1-livingroom1.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-2-diningroom.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-2-diningroom.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-2-diningroom.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3a-kitchen.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3a-kitchen.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3a-kitchen.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3b-kitchen.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3b-kitchen.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3b-kitchen.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3c-kitchen.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3c-kitchen.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3c-kitchen.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3d-kitchen.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3d-kitchen.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3d-kitchen.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3e-kitchen.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3e-kitchen.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3e-kitchen.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3-livingroom2.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3-livingroom2.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-3-livingroom2.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-4-livingroom3.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-4-livingroom3.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-4-livingroom3.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-4-livingroom4.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-4-livingroom4.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-4-livingroom4.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-5-livingroom-chair.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-5-livingroom-chair.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-5-livingroom-chair.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6a-porchsteps2.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6a-porchsteps2.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6a-porchsteps2.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6b-porchsteps2.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6b-porchsteps2.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6b-porchsteps2.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6c-porchsteps1.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6c-porchsteps1.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6c-porchsteps1.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6d-porchsteps2.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6d-porchsteps2.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-6d-porchsteps2.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-7-doorway.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-7-doorway.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-7-doorway.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-8a-pool.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-8a-pool.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-8a-pool.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-8b-pool.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-8b-pool.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-8b-pool.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-9a-backyard.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-9a-backyard.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-9a-backyard.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-9b-backyard.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-9b-backyard.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-9b-backyard.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-10-bathroom.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-10-bathroom.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-10-bathroom.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11a-bedroom-master.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11a-bedroom-master.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11a-bedroom-master.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11b-bedroom-second.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11b-bedroom-second.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11b-bedroom-second.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11c-bedroom-twinbed.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11c-bedroom-twinbed.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11c-bedroom-twinbed.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11d-bedroom-desk.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11d-bedroom-desk.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-11d-bedroom-desk.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-12a-bedroom.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-12a-bedroom.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-12a-bedroom.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-12b-bedroom-doorview.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-12b-bedroom-doorview.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-12b-bedroom-doorview.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-14-hallway.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-14-hallway.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-14-hallway.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-15-staircase.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-15-staircase.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-15-staircase.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-16a-window-view.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-16a-window-view.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-16a-window-view.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		
			<li style="width: 120px; float: left; display: block;" data-thumb="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-16b-window-view2.jpg&amp;w=500&amp;zc=1">
				<!-- <img class="photo" src="http://www.almosthomeusa.com/wp-content/themes/realestate-4/img_resize/timthumb.php?src=http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-16b-window-view2.jpg&amp;h=400&amp;w=945&amp;zc=1" title="Escondido Four Bedroom Furnished Home" /> -->
				<img class="photo" src="http://www.almosthomeusa.com/wp-content/uploads/escondido-ca-furnishedhome-16b-window-view2.jpg" title="Escondido Four Bedroom Furnished Home">
			</li>
		                                </ul></div><ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
						
                            <div class="clear"></div>
                        
                                                
                        <div class="post-content marT20">
							<%= @location.description %>
                            
                            
                            
                                                        
                            <div id="location">

                            </div>

                            
                                                      </div>
                        
                        

<aside class="widget">
	<h4>Property Features</h4>
                        <ul>
	<% @location.features.each do |feature| %>
		<li><%= feature.title %></li>
	<% end %>
</ul>                    
</aside>            
<aside class="widget">
                         <h4>Community Amenities</h4>
                         <ul>
	<% @amenities.each do |amenity| %>
		<li><%= amenity.title %></li>
	<% end %>
</ul>                        </aside>                      
                       
                        

                    