
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Short Term Condo Rental Listings</title>
 
<!--rails stuff -->
    <%# stylesheet_link_tag    "application", media: "all" %>
	
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
	
<!-- -->
        <!-- Favicon and touch icons  -->
    <link href="http://demo.favethemes.com/wp/realto/wp-content/themes/realto/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="http://demo.favethemes.com/wp/realto/wp-content/themes/realto/ico/favicon.png" rel="shortcut icon">

	<!--[if lt IE 9]>
	<script src="http://demo.favethemes.com/wp/realto/wp-content/themes/realto/js/html5.js"></script>
	<![endif]-->
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<link rel='stylesheet' id='dsidxpress-unconditional-css'  href='http://demo.favethemes.com/wp/realto/wp-content/plugins/dsidxpress/css/client.css?ver=4.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='dsidxwidgets-unconditional-css'  href='http://demo.favethemes.com/wp/realto/wp-content/plugins/dsidxpress/dsidxwidgets/css/client.css?ver=4.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-settings-css'  href='http://demo.favethemes.com/wp/realto/wp-content/plugins/revslider/rs-plugin/css/settings.css?rev=4.1.4&#038;ver=4.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-captions-css'  href='http://demo.favethemes.com/wp/realto/wp-content/plugins/revslider/rs-plugin/css/dynamic-captions.css?rev=4.1.4&#038;ver=4.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-static-css'  href='http://demo.favethemes.com/wp/realto/wp-content/plugins/revslider/rs-plugin/css/static-captions.css?rev=4.1.4&#038;ver=4.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='nt-bootstrap-css'  href='http://demo.favethemes.com/wp/realto/wp-content/themes/realto/css/bootstrap.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='nt-bootstrap-responsive-css'  href='http://demo.favethemes.com/wp/realto/wp-content/themes/realto/css/bootstrap-responsive.css?ver=1' type='text/css' media='all' />

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel='stylesheet' id='nt-colors-css'  href='http://demo.favethemes.com/wp/realto/wp-content/themes/realto/css/colors.css?ver=1' type='text/css' media='all' />
<link rel='stylesheet' id='style-css'  href='/assets/realty.css?ver=1' type='text/css' media='all' />
<script type='text/javascript' src='http://demo.favethemes.com/wp/realto/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='http://demo.favethemes.com/wp/realto/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://demo.favethemes.com/wp/realto/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min.js?rev=4.1.4&#038;ver=4.0.1'></script>
<script type='text/javascript' src='http://demo.favethemes.com/wp/realto/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.1.4&#038;ver=4.0.1'></script>
<script type='text/javascript' src='http://demo.favethemes.com/wp/realto/wp-content/themes/realto/js/jquery.gomap-1.3.2.min.js?ver=20140203'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://demo.favethemes.com/wp/realto/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://demo.favethemes.com/wp/realto/wp-includes/wlwmanifest.xml" /> 

<style type="text/css">

#home-search-container {
    background: url(http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/bg1.jpg) no-repeat scroll center center rgba(0, 0, 0, 0);
	background-size:100% auto;
}


</style>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>

<body id="green" class="single single-property postid-146">
<!-- begin header -->
<header>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<div class="nav-collapse collapse">-->
                						
					<div class="nav-collapse collapse"><ul id="menu-main-navigation" class="nav"><li class="m-manage"><a href="/" title="Home"><i class="fa fa-home"></i>
</a></li><li id="nav-menu-item-42" class="main-menu-item dropdown  menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page"><%= link_to "Neighborhoods", neighborhoods_path %></li>
<li id="nav-menu-item-376" class="main-menu-item dropdown  menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page"><%= link_to "Parc Gateway", neighborhood_path(1) %></li>
<li id="nav-menu-item-36" class="main-menu-item dropdown  menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page"><%= link_to "Properties", locations_path %></li>
</ul></div>					
					                    
            </div>
        </div>
    </div>
    <div id="logo-container">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <a class="brand" href="/"><img src="http://demo.favethemes.com/wp/realto/wp-content/uploads/2014/02/logo.png" alt="" /></a>
                    <span class="tag-line hidden-phone">Great Condos for Rent in Utah</span>
                </div>
                <div class="span4">
                                        <div class="phone-number pull-right">
                    	<i class="fa fa-phone"></i></i> 
							Call Us: 
                            <strong>801-644-2440</strong>
                       </div><!--/phone-number-->
                                     </div>
            </div>
        </div>
    </div>
    <!-- #logo-container -->
</header>  
<!-- end header -->

    <%= yield %>
<!-- begin footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="span3"><div class="footer-widget"><h2 class="brand widget-title">Realto</h2>			
			<p class="footer-tag-line">Great Utah Condos for Rent</p>
            <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore magna aliqua adipisicing elit seddo eiusmod tempor.</p>
	</div></div>
            <!-- .span3 -->
            <div class="span3"><div class="footer-widget"><h3 class="widget-title">Address</h3>			
			<div class="clearfix">
                <ul>
                    <li class="clearfix">
                        <i class="icon-map-marker pull-left"></i>
                        <p class="pull-left">121 King Street, Melbourne VIC 3000</p></li>
                    <li class="clearfix">
                        <i class="icon-phone pull-left"></i>
                        <p class="pull-left">+1 (877) 987 3487</p></li>
                    <li class="clearfix">
                        <i class="icon-envelope-alt pull-left"></i>
                        <p class="pull-left"><a href="mailto:hello@realto.com">hello@realto.com</a></p>
                    </li>
                </ul>
            </div>
            <!-- .clearfix -->
	</div></div>
            <!-- .span3 -->
            <div class="span3"><div class="footer-widget"><h3 class="widget-title">Company</h3><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li class="m-manage"><a href="/" title="Home"><i class="icon-home"></i></a></li><li id="menu-item-159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159"><a href="/">Homepage</a></li>
<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="/properties-grid-layout-1/">Properties</a></li>
<li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="/all-agents/">All Agents</a></li>
<li id="menu-item-158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158"><a href="/blog/">Blog</a></li>
<li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="/finacing/">Finacing</a></li>
<li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="/contact-us/">Contact us</a></li>
</ul></div></div></div>
            <!-- .span3 -->
            <div class="span3"><div class="footer-widget"><h3 class="widget-title">Flickr</h3><p>Invalid flickr username.</p></div></div>
            
            <!-- .span3 -->
        </div>
    </div>
</footer>
<!-- end footer -->
		

	<script type='text/javascript' src='http://demo.favethemes.com/wp/realto/wp-content/themes/realto/js/bootstrap.min.js?ver=1'></script>
<script type='text/javascript' src='http://demo.favethemes.com/wp/realto/wp-content/themes/realto/js/jquery.placeholder.js?ver=2.0.7'></script>
<script type='text/javascript' src='http://demo.favethemes.com/wp/realto/wp-content/themes/realto/js/jquery.cycle2.min.js?ver=1'></script>
<script type='text/javascript' src='http://demo.favethemes.com/wp/realto/wp-content/themes/realto/js/custom.js?ver=1'></script>
<script type="text/javascript">
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52341909-3', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>